body {
    margin: 0px;
}


**pages

#console {
    margin: 0px;
    border: black;
    border-right: black;
    padding-left: 20px;
    padding-right: 10px;
    padding-top: 0px;
    padding-bottom: 300px;
}


#startpage {
    margin:0px;
    padding-top: 1%;
    padding-bottom: 99%;
    display: block;
    text-align: center;
}

#cmdpage {
    margin:0px;
    padding-top: 1%;
    padding-bottom: 99%;
    padding-left: 47%;
    padding-right: 45%;
    display: none;
    text-align: center;
}

#tagpage {
    margin:0px;
    padding-top: 1%;
    padding-bottom: 99%;
    padding-left: 47%;
    padding-right: 45%;
    display: block;
    text-align: center;
}

#videospage {
    margin:0px;
    padding-top: 1%;
    padding-bottom: 99%;
    padding-left: 47%;
    padding-right: 45%;
    display: block;
    text-align: center;
}

#communitypage {
    margin:0px;
    padding-top: 1%;
    padding-bottom: 99%;
    padding-left: 47%;
    padding-right: 45%;
    display: block;
    text-align: center;
}
**divs




**inputs

.cons {
    height: 28px;
    width: 28px;
    border:1px;
    border-radius: 5px;
}

#cons {
    height: 35px;
    width: 35px;
    font-size: large;
    border:1px;
    border-radius: 5px;
}

#tags {
    margin:0px;
    height: 35px;
    font-size: large;
    border:1px;
    border-radius: 5px;
}

#cmdi {
    border-radius: 10px;
    margin: 0px;
    width: 450px;
    padding-right: 5px;
    padding-left: 5px;
    height: 40px;
    font-size: large;
}

#cmdb {
    border-radius: 10px;
    margin: 0px;
    padding-top: 5px;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    height: 40px;
    width: 40px;
    font-size: large;
}

#cmds {
    border-radius: 10px;
    margin: 0px;
    width: 450px;
    padding-right: 5px;
    padding-left: 5px;
    height: 40px;
    font-size: large;
}