body {
    margin: 0px;
    background-color: #1D1F21;
}


**pages

#console {
    background-color: #1D1F21;
    margin: 0px;
    border: black;
    border-right: black;
    padding-left: 20px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 15px;
}


#startpage {
    background-color: #1D1F21;
    margin:0px;
    display: block;
    text-align: center;
}

#cmdpage {
    background-color: #1D1F21;
    margin:0px;
    display: none;
    text-align: center;
}

#helppage {
    background-color: #1D1F21;
    margin:0px;
    display: none;
    text-align: center;
}

#tagpage {
    background-color: #1D1F21;
    margin:0px;
    display: none;
    text-align: center;
}

#videospage {
    background-color: #1D1F21;
    margin:0px;
    display: none;
    text-align: center;
}

#communitypage {
    background-color: #1D1F21;
    margin:0px;
    display: none;
    text-align: center;
}
**divs




**inputs

.cons {
    height: 28px;
    width: 28px;
    border:1px;
    border-radius: 5px;
    background-color: #303345;
}

#cons {
    height: 35px;
    width: 35px;
    font-size: large;
    border:1px;
    border-radius: 5px;
}

.tags {
    margin:2px;
    height: 32px;
    font-size: large;
    border:1px;
    border-radius: 5px;
}

#cmdi {
    border-radius: 10px;
    margin: 0px;
    width: 460px;
    padding-right: 5px;
    padding-left: 5px;
    height: 40px;
    font-size: large;
}

#cmdb {
    border-radius: 10px;
    margin: 0px;
    padding-top: 5px;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    height: 40px;
    width: 40px;
    font-size: large;
}

#cmds {
    border-radius: 3px;
    margin: 0px;
    width: 550px;
    padding-right: 5px;
    padding-left: 5px;
    height: 30px;
    font-size: medium;
}


.cmds {
    border-radius: 3px;
    margin: 0px;
    width: 550px;
    padding-right: 5px;
    padding-left: 5px;
    height: 30px;
    font-size: medium;
}
